.heroes-item-enter {
    opacity: 0;
}


.heroes-item-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.heroes-item-exit {
    opacity: 1;
}

.heroes-item-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}